html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}mark{background:#ff0;color:#000}a{background:transparent}abbr[title]{border-bottom:1px dotted}code,kbd,pre,samp{font-size:1em;white-space: pre-line;white-space: pre-wrap;font-family: Consolas, 'DejaVu Sans Mono', Courier, monospace;line-height: normal;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}a:active,a:hover,button,button:focus,button:active,[type="submit"],[type="submit"]:focus,[type="submit"]:active{cursor:pointer;outline:0}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible;-webkit-appearance:none;}button,select{text-transform:none}input{line-height:normal;-webkit-appearance:none;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}optgroup{font-weight:bold}textarea{overflow:auto}b,strong{font-weight:bold}i,em,dfn,.italic,address,cite,var{font-style:italic}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
img,table,td,blockquote,code,pre,textarea,input,video{max-width: 100%;}

/* -------------------- GLOBAL -------------------- */

html {
  font-family: serif;
  font-size: 62.5%;
  font-size: -webkit-calc(0.625em);
  font-size: calc(0.625em);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: #EEEEEE;
  font-family: sans-serif;
  color: #000000;
  font-size: 1.2rem;
  line-height: 1.5;
  color: black;
  text-align: center;
  position: relative;
  display: block;
}

header {
  position: relative;
	min-height: 68px;
  box-sizing: border-box;
  overflow: auto;
  display: block;
  /*height: inherit;*/
  -webkit-box-shadow: 0px 12px 11px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 11px -16px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 11px -16px rgba(0,0,0,0.75);
}

/* -------------------- CONSTANTS  -------------------- */

h1, h2, h3 {font-weight: bold;}
h1 {
  padding: 5px;
  padding-top: 196px;
  font-size: 2.6em;
  color: white;
  font-weight: normal;
}
h2 {font-size: 3.4em; margin: 0 36px 36px 0;}
h3 {padding: 25px 0; font-size: 2.0rem; height: 128px; display: inline-block;}

/* -------------------- FORMS -------------------- */
.hide {display: none;}
#create-user, #connect-user {
  position: relative;
  height: 316px;
  width: 100%;
}
#create-user input {
	display: block;
margin: 2px auto;
}
#connect-user input {
  margin: 15px auto;
}

#btnConnecter, #btnInscrire {
  display: inline-block;
  color: white;
  width: 128px;
  line-height: 36px;
  margin: 3px;
  text-decoration: none;
  background-color: #15d272;
}
nav {
  position: fixed;
  display: block;
  width: 100%;
  height: inherit;
  z-index: 1000;
  background-color: white;
}
nav ul li { 
  display: inline-block;
  margin: auto;
  width: 20%;
  min-width: 128px;
  vertical-align: middle;
}
nav ul li a {
  font-size: 16px;
  display: block;
  height: 100%;
}
nav ul li a:hover {
  background-color: lightgrey;
  transition: background-color .3s;
}

input {
  height: 36px;
  padding: 6px;
  margin: 2px; 
  background-color: rgba(175,175,175,.6);
  border: 0px solid white;
}

input:focus {
  background-color: white;
  border: 1px solid black;
}

input::placeholder {color: white;}

input[type="checkbox"] {-webkit-appearance: checkbox;}
input[type="submit"] {
  color: white;
  font-weight: bold;
  margin: 3px;
  background-color: #317df7;
}

#search-form {
  display: block;
}

input#search {
  min-width: 256px;
  text-align: left;
}
input#search, input#search~input {
  width: 48px;
  height: 48px;
  font-size: 1.6rem;
  padding-left: 35px;
  vertical-align: middle;
 /* display: inline-block;*/
}
input#search~input {
  width: 48px;
  background-image: url("../img/search-icon.svg");
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: center;
  fill: white;
}

.inscrire input {
  margin: 2px auto;
  display: block;
}

/* lignes de chaque cotes du ou */
.or {
  color: white;
}
.or:before, .or:after {
  content: '';
  min-width: 20px;
  min-height: 2px;
  background-color: white;
}

/* -------------------- HOMEPAGE -------------------- */

#topHomePage {
  height: 90vh;
  min-height: 926px;
  background: url("../img/background.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  box-sizing: content-box;
}

#presentation {
  padding-top: 24px; 
  display: block;
  background-color: white;
}
#presentation ul {display: block; margin: 0;}
#presentation li {
  display: inline-block;
  vertical-align: middle;
  height: 256px;
  min-width: 256px;
  width: 24.85%;
  padding: 5px;
  margin: 0;
}
#presentation li:nth-child(1),
#presentation li:nth-child(1) h3,
#presentation li:nth-child(1) p {
  color: white; background-color: black;}

#presentation li:nth-child(2),
#presentation li:nth-child(2) h3 {
  color: #66CDAA; background-color: lightgray;}

#presentation li:nth-child(3),
#presentation li:nth-child(3) h3 {
  color: #66CDAA; background-color: white;}

#presentation li:nth-child(4),
#presentation li:nth-child(4) h3,
#presentation li:nth-child(4) p {
  background-color: #66CDAA;
}
#presentation .description h2:nth-child(1) {color: #66CDAA;}
#presentation .description p{ max-width: 516px; margin: auto; padding: 18px;}

/* -------------------- USERPAGE -------------------- */
#content {
	position: relative;
}
#create-project {
	position: fixed;
  display: block;
	right: 0;
	top: 68px;
	max-width: 200px;
  padding: 3px;
  background-color: white;
}
#create-project input {vertical-align: middle;}
#create-project input:not([type="checkbox"]) {width: 190px;}
#create-project input[type="text"],
#create-project input[type="number"] {
  display: block;
  text-align: left;
  margin: 3px;
}
.project {
  margin: 8px 216px;
  background-color: rgb(240,240,240);
  text-align: left;
  padding: 18px;
  padding-bottom: 46px;

  -webkit-box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.75);
  -webkit-transform: scale3d(.99, .99, .99);
  transform: scale3d(.99, .99, .99);
  -webkit-transition: background-color .4s, -webkit-transform .3s;
  transition: background-color .4s, transform .3s;
}
.project:hover {
  background-color: rgb(255,255,255);
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}
.project h3 {
  padding: 0;
  height: auto;
  display: block;
}
/* TRASH */
.project button {
  float: right;
  /*background: url('img/trash.svg') no-repeat center;*/
  background-color: red;
  color: white;
  border-style: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
  height: 32px;
  width: 64px;
  box-sizing: content-box;
}

.project button:nth-child(2) {margin: 3px auto;}

progress {
  width: 60%;
  display: block;
  margin: 12px auto;
  background-color: lightgray;
}

.project p {
  margin: 15px 0;
}

.project .sum {color: rgb(0, 102, 255);}

.project textarea {
  width: 100%;
}

#partenaire > div {
  display: block;
  width: 100%;
}

#partenaire img {
  display: inline-block;
}
#partenaire div {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
#partenaire h3 {
  height: auto;
}
#partenaire p {
  padding: 16px;
}

/* --------------- SLIDE BUTTON -------------- */
/*
.slideButton {
  width:80px;
  height: 80px;
  background: black;
  position:relative;
  bottom:15px;
  right:40px;
  display:none;
  z-index: 10000;
}
.slideButton::before {
  content: '';
  position: fixed;
  bottom: 26px;
  right: 54px;
  z-index: 100000;
}
.slideButton::after {
  content: '';
  position: fixed;
  bottom: 30px;
  right: 60px;
  width: 30px;
  height: 30px;
  border-style: solid;
  border-color: white;
  border-width: 0.8em 0.8em 0 0;
  transform: rotate(-45deg);
  z-index: 100000;
}
*/
/* --------------- ACCORDEON -------------- */
/*
.accordeon {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordeon:hover {
  background-color: #ccc; 
}

.slide {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}*/
#a-propos div {
  width: 40%;
  margin: 12px;
  display: inline-block;
  vertical-align: top;
  padding: 16px 0;
  background-color: white;
  min-height: 256px;
  min-width: 256px;
  max-height: auto;
}
#a-propos div:nth-child(1) {
  width: 80%;
  display: block;
  margin: auto;
  min-height: auto;
}
#a-propos div h2 {margin: auto;}
#a-propos div p {text-align: justify; padding: 0 56px;}
#a-propos img {
  width: 128px;
  border-radius: 50%;
  vertical-align: middle;
}
#a-propos h4 {margin: 0; display: inline-block; width: 40%;}


div#foundator {
  display: block;
  width: 100%;
  margin: auto;
}
#content div.foundator {
  display: inline-block;
  height: auto;
  width: 40%;
  margin: auto;
  /*vertical-align: middle;*/
}
/*---------------- RESPONSIVE ----------------*/

@media all and (max-width: 720px) {

  #content .project {
   display: block;
   width: 100%;
   margin: 0;
  }

  #create-project {
    position: initial;
    max-width: 100%;
  }
}