html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}mark{background:#ff0;color:#000}a{background:transparent}abbr[title]{border-bottom:1px dotted}code,kbd,pre,samp{font-size:1em;white-space: pre-line;white-space: pre-wrap;font-family: Consolas, 'DejaVu Sans Mono', Courier, monospace;line-height: normal;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}a:active,a:hover,button,button:focus,button:active,[type="submit"],[type="submit"]:focus,[type="submit"]:active{cursor:pointer;outline:0}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible;-webkit-appearance:none;}button,select{text-transform:none}input{line-height:normal;-webkit-appearance:none;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}optgroup{font-weight:bold}textarea{overflow:auto}b,strong{font-weight:bold}i,em,dfn,.italic,address,cite,var{font-style:italic}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
img,table,td,blockquote,code,pre,textarea,input,video{max-width: 100%;}

/* -------------------- GLOBAL -------------------- */
* {
  color: black;
  margin: auto;
}

html {
  height: 100%;
  font-family: serif;
  font-size: 62.5%;
  font-size: -webkit-calc(0.625em);
  font-size: calc(0.625em);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100%;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: white;
  text-align: center;
  background: url("../img/background.jpg") no-repeat center;
  background-size: cover;
}
/* -------------------- FORMS -------------------- */
.inscrire, .connecter {
  height: 316px;
}
.inscrire {
  display: none;
}
form {
  width: 100%;
  display: inline-block;
}
#btnConnecter, #btnInscrire {
  display: inline-block;
  color: white;
  width: 128px;
  line-height: 36px;
  margin: 3px;
  text-decoration: none;
  background-color: #15d272;
}

input {
  height: 36px;
  padding: 6px;
  margin: 2px; 
  background-color: rgba(175,175,175,.6);
  border: 0px solid white;
}

input:focus {
  background-color: white;
  border: 1px solid black;
}

input::placeholder {color: white;}

input[type="submit"] {
  color: white;
  font-weight: bold;
  margin: 3px;
  background-color: #317df7;
}
input#search, input#search~input {
  width: 50%;
  height: 48px;
  font-size: 1.6rem;
  padding-left: 35px;

 /* display: inline-block;*/
}
input#search~input {
  width: 48px;
  background-image: url("../img/search-icon.svg");
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: center;
}

.inscrire input {
  margin: 2px auto;
  display: block;
}

/* lignes de chaque cotes du ou */
.or {
  color: white;
}
.or:before, .or:after {
  content: '';
  min-width: 20px;
  min-height: 2px;
  background-color: white;
}

/* -------------------- HOMEPAGE -------------------- */

header {
  /*
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;*/
  display: block;
  height: 100%;
  padding: 15px;
}
header div p~p {
  text-align: right;
}
/*fleche vers le bas pour montrer qu'il y a une suite*/
.content:before {
  content: '';
  position: absolute;
  top: -50px;
}
.content {
  padding-top: 24px; 
  display: block;
  background-color: white;
}
nav ul li { 
  display: inline-block;
  width: 33%;
}

.content ul {
  display: table;
}
.content li {
  display: table-cell;
  vertical-align: middle;
  height: 256px;
  width: 24.85%;
  padding: 5px;
}

h1, h2, h3 {font-weight: bold;}
h1 {
  font-size: 2.3em;
}
h3 {margin-bottom: 25px; font-size: 2.0rem;}

.content li:nth-child(1),
.content li:nth-child(1) h3,
.content li:nth-child(1) p {
  color: white;
  background-color: black;
}
.content li:nth-child(2),
.content li:nth-child(2) h3 {
  color: #66CDAA;
  background-color: lightgray;
}
.content li:nth-child(3),
.content li:nth-child(3) h3 {
  color: #66CDAA;
  background-color: white;
}
.content li:nth-child(4),
.content li:nth-child(4) h3,
.content li:nth-child(4) p {
  background-color: #66CDAA;
}

/*------------------------ARTICLES------------------*/
#propos {
  width: 516px;
}